$color-white: rgb(255,255,255);
$color-black: rgb(0,0,0);
$font-weight-normal: normal;
$font-weight-bold: bold;
// $color-text-hover: rgb(102, 102, 102);
// $color-text-visited: rgb(178, 178, 178);
$fill-icon-hover: rgb(88, 204, 180);
// $fill-icon-active: rgb(204, 239, 232);
