* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "OpenSans", "Tahoma", sans-serif;
  font-weight: $font-weight-normal;
  color: $color-black;
  background: white;
  width: auto;
  max-width: 320px;
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: $color-dark-gray;
}

button {
  background: none;
  border: 0;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  outline: none;
}

textarea {
  border: none;
  background-color: transparent;
  resize: none;
  outline: none;
  font-family: inherit;
}

ul {
  list-style: none;
}

input {
  outline: none;
  font-family: inherit;
}

@media (min-width: 768px) {
  body {
    width: auto;
    max-width: 768px;
    margin: 0 auto;
  }
}

@media (min-width: 1150px) {
  body {
    width: auto;
    max-width: 1150px;
    margin: 0 auto;
  }
}
