* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "OpenSans", "Tahoma", sans-serif;
  font-weight: $font-weight-normal;
  color: $color-black;
  background: white;
  width: auto;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  background: none;
  border: 0;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
}
