.btn {
  width: 100%;
  // height: 52px;
  font-weight: $font-weight-bold;
  font-size: 17px;
  border: 2px solid black;
  margin: 30px auto;
  line-height: 52px;
  text-align: center;
}

.btn:hover {
  color: $color-white;
  background-color: $color-black;
  transition: all 0.3s ease;
}

.btn:not(:hover) {
  transition: all 0.5s ease;
}

.btn:active {
  color: rgb(124, 124, 124);
}
