.catalog {
  padding: 0 30px;
}

.catalog__wrapper {
  display: flex;
  flex-direction: column;
}

.catalog__item {
  border: 1px solid rgb(234, 234, 234);
  margin-top: 30px;
}

.catalog__item:hover {
  box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.catalog__item:not(:hover) {
  transition: all 0.5s ease;
}

.catalog__item:active {
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
}

.catalog__photo {
  width: 260px;
  height: 195px;
}

.catalog__item-content {
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.catalog__title {
  font-size: 17px;
  font-weight: $font-weight-bold;
}

.catalog__title:hover {
  opacity: 0.5;
}

.catalog__title:active {
  opacity: 0.2;
}

.catalog__stats {
  margin-top: 15px;
  font-size: 13px;
}

.catalog__separator {
  border: 1px solid rgb(234, 234, 234);
  margin-top: 25px;
}

.catalog__prices {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 25px;
}

.catalog__price {
  font-size: 15px;
}

.catalog__add-to-basket path {
  fill: rgb(204, 204, 204);
}

.catalog__add-to-basket:hover path {
  fill: rgb(88, 204, 180);
}

.catalog__add-to-basket:active path {
  fill-opacity: 0.2;
}

@media (min-width: 768px) {
  .catalog {
    padding: 0 50px;
  }
  .catalog__item {
    display: flex;
    margin-top: 55px;
  }
  .catalog__photo {
    width: 334px;
    height: 334px;
  }
  .catalog__title {
    font-size: 20px;
  }
  .catalog__separator {
    margin-top: 170px;
  }
  .catalog__price {
    font-size: 17px;
  }
  .catalog__item-content {
    width: 40%;
  }
}

@media (min-width: 1150px) {
  .catalog__photo {
    width: 316px;
    height: 462px;
    // outline: 1px solid yellow;
  }
  .catalog__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .catalog__item {
    display: block;
    width: 316px;
    margin-top: 110px;
  }
  .catalog__separator {
    margin-top: 45px;
  }
  .catalog__separator--desktop {
    margin-top: 17px;
  }
  .catalog__item-content {
    width: 80%;
  }
}
