.catalog {
  padding: 30px;
}

.catalog__wrapper {
  display: flex;
  flex-direction: column;
}

.catalog__item {
  border: 1px solid rgb(234, 234, 234);
  margin-top: 30px;
}

.catalog__item:hover {
  box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.catalog__item:not(:hover) {
  transition: all 0.5s ease;
}

.catalog__item:active {
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
}

.catalog__item-content {
  display: flex;
  flex-direction: column;
  margin: 0 30px;
}

.catalog__title {
  font-size: 17px;
  font-weight: $font-weight-bold;
  margin-top: 30px;
}

.catalog__title:hover {
  opacity: 0.5;
}

.catalog__title:active {
  opacity: 0.2;
}

.catalog__stats {
  margin-top: 15px;
  font-size: 13px;
}

.catalog__separator {
  border: 1px solid rgb(234, 234, 234);
  margin-top: 30px;
}

.catalog__prices {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 30px;
}

.catalog__price {
  font-size: 15px;
}

.catalog__add-to-basket path {
  fill: rgb(204, 204, 204);
}

@media (min-width: 768px) {
  .catalog__item {
    display: flex;
    width: 670px;
    margin: 30px auto;
  }
  .catalog__photo {
    width: 334px;
    height: 334px;
  }
  .catalog__title {
    font-size: 20px;
  }
  .catalog__price {
    font-size: 17px;
  }
  .catalog__item-content {
    width: 50%;
  }
}

@media (min-width: 1200px) {
  .catalog__wrapper {
    display: flex;
    flex-direction: row;
  }
  .catalog__item {
    display: block;
    width: 350px;
  }
  .catalog__item-content {
    width: 80%;
  }
}
