.category__item {
  display: flex;
  width: 100%;
  height: 103px;
  color: $color-white;
  font-size: 19px;
  font-weight: $font-weight-bold;
}

.category__item:first-child {
  background: rgb(88, 204, 180);
}

.category__item:last-child {
  background: rgb(75, 189, 170);
}

.category__item--hover {
  transition-duration: 0.3s;
  transition-property: transform;
  transition-timing-function: ease-out;
}
.category__item--hover:hover {
  // box-sizing: border-box;
  // border-bottom: 5px solid rgb(88, 204, 180);
  // height: 108px;
  // padding-bottom: 5px;
  transform: translateY(-5px);
}

.category__value {
  width: 30%;
  margin: auto;
}

.category__field {
  margin: auto;
  float: right;
}

.category__field path {
  fill: rgb(51, 169, 149);
}

@media (min-width: 768px) {
  .category {
    padding: 0 50px;
    margin-top: -103px;
    z-index: 1;
  }
  .category__items {
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 1150px) {
  .category {
    margin-bottom: 135px;
  }
}
