.category__item {
  display: flex;
  width: 320px;
  height: 103px;
  color: $color-white;
  font-size: 19px;
  font-weight: $font-weight-bold;
}

.category__item:first-child {
  background: rgb(88, 204, 180);
}

.category__item:last-child {
  background: rgb(75, 189, 170);
}

.category__value {
  width: 106px;
  margin: auto;
}

.category__field {
  margin: auto;
  float: right;
}

.category__field path {
  fill: rgb(51, 169, 149);
}

// @media (min-width: 768px) {
//   .category__items {
//     display: flex;
//     justify-content: center;
//   }
// }
