.category {
  margin-top: -23px;
}

.category__wrapper {
  // display: flex;
}

.category__items {
  // margin: 0 auto;
}

.category__item {
  display: flex;
  height: 103px;
  color: $color-white;
  font-size: 19px;
  font-weight: $font-weight-bold;
  padding: 0 30px;
  line-height: 24px;
}

.category__item:first-child {
  background: rgb(88, 204, 180);
}

.category__item:last-child {
  background: rgb(75, 189, 170);
}

.category__value {
  padding-right: 25px;
  margin-top: 25px;
}

.category__field {
  margin-top: 20px;
}

.category__field--center {
  padding-right: 8px;
}

.category__field path {
  fill: rgb(51, 169, 149);
}

@media (min-width: 768px) {
  .category {
    padding: 0 50px;
    margin-top: -103px;
    z-index: 1;
  }
  .category__items {
    display: flex;
  }
  .category__item {
    width: 334px;
    height: 129px;
    font-size: 20px;
  }
  .category__value {
    padding-right: 25px;
    margin-top: 26px;
    margin-left: 5px;
    line-height: 30px;
  }
  .category__field {
    margin-top: 27px;
  }
  .category__item--hover {
    transition-duration: 0.3s;
    transition-property: transform;
    transition-timing-function: ease-out;
  }
  .category__item--hover:hover {
    transform: translateY(-5px);
  }
}

@media (min-width: 1150px) {
  .category {
    margin-bottom: 135px;
    margin-top: -119px;
  }
  .category__item {
    width: 100%;
    font-size: 20px;
    padding: 0 40px;
  }
  .category__value {
    padding-right: 200px;
    margin-left: 0;
  }
}
