.contacts {
  display: flex;
  flex-direction: column;
  padding: 43px 30px 42px;
}

.contacts__container {
  display: flex;
  flex-direction: column;
}

.contacts__title {
  font-size: 18px;
  font-weight: $font-weight-bold;
}

.contacts__items {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  color: $color-dark-gray;
  margin-top: 30px;
}

.contacts__item {
  display: flex;
  margin-bottom: 30px;
}

.contacts__label {
  width: 55px;
  line-height: 30px;
}

.contacts__value {
  line-height: 30px;
  margin: 0 0 0 23px;
}

.contacts__value--index {
  width: 55%;
}

.contacts__value--border {
  border-bottom: 1px solid rgb(98, 209, 186);
  width: 75%;
}

.contacts__value--border:hover {
  opacity: 0.5;
}

.contacts__value--border:active {
  opacity: 0.1;
}

.contacts__map {
  width: 320px;
  height: 457px;
  margin: 7px -30px 10px;
}

.contacts__map-nojs {
  display: flex;
  width: 320px;
  height: 457px;
  background-image: url(/img/map-mobile@1x.jpg);
  background-repeat: no-repeat;
}

.contacts__map-nojs .contacts__pin {
  margin: auto;
}

.contacts__action {
  width: 260px;
  height: 52px;
}

@media (min-resolution: 144dpi),
(min-resolution: 1.5dppx) {
  .contacts__map--nojs {
    background-image: url(/img/map-mobile@2x.jpg);
    background-size: 320px auto;
  }
}

.contacts__logo-tablet {
  display: none;
}

.contacts__map--desktop {
  display: none;
}

@media (min-width: 768px) {
  .contacts {
    padding: 61px 50px 61px;
  }
  .contacts__header {
    display: flex;
    justify-content: space-between;
  }
  .contacts__title {
    font-size: 43px;
  }
  .contacts__logo-tablet {
    display: block;
    margin-top: -15px;
  }
  .contacts__items {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
  }
  .contacts__item {
    display: flex;
    margin-right: 50px;
    margin-top: 23px;
    font-size: 17px;
  }
  .contacts__label {
    width: 60px;
    margin-right: 20px;
  }
  .contacts__label--tablet {
    margin-right: 0px;
  }
  .contacts__value {
    margin: auto;
  }
  .contacts__value--border {
    margin-top: 0px;
  }
  .contacts__value--index {
    width: 70%;
  }
  .contacts__map {
    width: 768px;
    height: 457px;
    margin: 23px -50px 0;
  }
  .contacts__map-nojs {
    display: flex;
    width: 768px;
    height: 457px;
    background-image: url(/img/map-tablet@1x.jpg);
    background-repeat: no-repeat;
  }
  @media (min-resolution: 144dpi),
  (min-resolution: 1.5dppx) {
    .contacts__map-nojs {
      background-image: url(/img/map-tablet@2x.jpg);
      background-size: 768px auto;
    }
  }
}

@media (min-width: 1150px) {
  .contacts {
    padding: 32px 50px;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 0px;
  }
  .contacts__container {
    position: relative;
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    height: 570px;
  }
  .contacts__header {
    order: 1;
    justify-content: flex-start;
    padding-left: 63px;
    padding-top: 55px;
    width: 40%;
    height: 16%;
    margin-top: 54px;
  }
  .contacts__title {
    order: 1;
    padding-left: 60px;
    font-size: 53px;
  }
  .contacts__logo-tablet {
    margin-top: -6px;
  }
  .contacts__wrapper {
    order: 2;
    width: 50%;
    height: 39%;
  }
  .contacts__items {
    flex-direction: column;
    font-size: 17px;
    padding-left: 165px;
    margin-top: 17px;
  }
  .contacts__item {
    display: flex;
    margin-left: 0;
    margin-top: 0px;
    margin-left: 10px;
  }
  .contacts__label {
    margin-right: 25px;
  }
  .contacts__label--tablet {
    margin-right: 0px;
  }
  .contacts__value {
    line-height: 30px;
  }
  .contacts__map {
    width: 525px;
    height: 457px;
    order: 4;
    margin: 40px 0px;
  }
  .contacts__map-nojs {
    width: 525px;
    height: 457px;
    background-image: url(/img/map-desktop@1x.jpg);
    background-repeat: no-repeat;
  }
  @media (min-resolution: 144dpi),
  (min-resolution: 1.5dppx) {
    .contacts__map-nojs {
      background-image: url(/img/map-desktop@2x.jpg);
      background-size: 525px auto;
    }
  }
  .contacts__action {
    order: 3;
    width: 48%;
  }
}
