.contacts {
  display: flex;
  flex-direction: column;
}

.contacts__title {
  margin-left: 35px;
  font-size: 18px;
  font-weight: $font-weight-bold;
}

.contacts__items {
  font-size: 15px;
  margin-top: 40px;
  margin-left: 35px;
  // margin-right: 35px;
}

.contacts__item {
  display: flex;
  margin-top: 40px;
}

.contacts__label {
  width: 50px;
  display: inline-block;
}

.contacts__value {
  width: 165px;
  display: inline-block;
  margin-top: 40px;
}

.contacts__map {
  margin-top: 40px;
}
