.form {
  margin: 30px 35px 0;
}

.form__wrapper {
  display: flex;
  flex-direction: column;
}

.form__text {
  font-size: 13px;
}

.form__filter-item {
  display: flex;
  flex-direction: column;
}

.form__head {
  display: flex;
  margin-top: 25px;
}

.form__title {
  font-size: 17px;
  font-weight: $font-weight-bold;
  color: rgb(88, 204, 180);
  flex-grow: 1;
}

.form__filter-line {
  height: 1px;
  background-color: rgb(88, 204, 180);
  flex-grow: 7;
  margin: auto;
}

.form__filter-field-radio,
.form__filter-field-check {
  font-size: 17px;
  font-weight: $font-weight-bold;
}

// Radio custom
.form__filter-item {
  padding-top: 25px;
  padding-bottom: 25px;
}

.form__filter-radio,
.form__filter-check {
  display: none;
}

.form__filter-radio+label,
.form__filter-check+label {
  cursor: pointer;
  position: relative;
  padding: 0 0 0 60px;
}

.form__filter-field-radio::before {
  content: '';
  position: absolute;
  top: -3px;
  left: 0;
  width: 40px;
  height: 40px;
  border: 2px solid $color-black;
  border-radius: 50%;
}

.form__filter-radio:checked+.form__filter-field-radio::after {
  content: '';
  position: absolute;
  top: 10px;
  left: 14px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: rgb(88, 204, 180);
}

// CheckBox custom
.form__filter-field-check::before {
  content: '';
  position: absolute;
  top: -3px;
  left: 0;
  width: 40px;
  height: 40px;
  border: 2px solid $color-black;
}

.form__filter-check:checked+.form__filter-field-check::after {
  content: '';
  position: absolute;
  top: 10px;
  left: 12px;
  width: 22px;
  height: 16px;
  background-image: url(/img/icon-tick.svg);
  background-size: cover;
}

// Input custom
input[type="text"],
input[type="tel"],
input[type="email"] {
  width: 245px;
  border: none;
  border-bottom: 2px solid $color-black;
  font-size: 17px;
  padding: 15px 0;
}

input[type="tel"],
input[type="email"] {
  width: auto;
  border-bottom: none;
}

.form__label {
  font-size: 17px;
  font-weight: $font-weight-bold;
  margin-top: 30px;
}

.form__textarea {
  font-size: 17px;
  margin-top: 30px;
  border: 2px solid $color-black;
  padding-left: 18px;
  padding-top: 18px;
}

.form__text-required {
  margin-top: 20px;
  font-size: 13px;
}

.form__icon {
  padding: 10px 0;
}

.form__icon path {
  fill: rgb(191, 191, 191);
}

.form__item_container {
  display: flex;
  border-bottom: 2px solid $color-black;
}

@media (min-width: 768px) {
  .form {
    margin: 30px 60px 0;
  }
  .form__text {
    font-size: 17px;
  }
  .form__filter-line {
    display: none;
  }
  .form__wrapper-left {
    display: flex;
    width: 100%;
  }
  .form__wrapper-right-radio,
  .form__wrapper-right-check,
  .form__wrapper-right-name,
  .form__wrapper-right-phone,
  .form__wrapper-right-email,
  .form__wrapper-right-textarea {
    display: flex;
    flex-direction: column;
    width: 77%;
    margin-left: auto;
  }
  .form__wrapper-left:nth-child(2),
  .form__wrapper-left:nth-child(3) {
    margin-left: -60px;
    padding-left: 60px;
    background-color: rgb(239, 239, 239);
  }
  .form__wrapper-right-check {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .form__wrapper-right-check .form__filter-item {
    width: 245px;
  }
  .form__wrapper-right-name {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .form__item {
    display: flex;
  }
  input[type="text"] {
    width: 330px;
  }
  .form__label {
    width: 100px;
  }
  input[type="tel"],
  input[type="email"] {
    background-color: rgb(239, 239, 239);
    width: 400px;
  }
  .form__textarea {
    width: 400px;
  }
  .form__footer {
    display: flex;
  }
  .form__text-required {
    width: 40%;
    order: 2;
    margin: auto;
  }
  .btn--form {
    width: 35%;
    order: 1;
  }
}

@media (min-width: 1150px) {
  .form__text {
    width: 60%;
    margin: 0 auto;
    font-size: 15px;
  }
  .form__wrapper-right-radio,
  .form__wrapper-right-check,
  .form__wrapper-right-name,
  .form__wrapper-right-phone,
  .form__wrapper-right-email,
  .form__wrapper-right-textarea {
    width: 80%;
    margin-left: auto;
  }
  input[type="text"] {
    width: 530px;
  }
  input[type="tel"],
  input[type="email"] {
    width: 600px;
  }
  .form__textarea {
    width: 600px;
  }
  .form__footer {
    padding-left: 125px;
  }
  .form__text-required {
    font-size: 17px;
  }
  .btn--form {
    width: 25%;
    order: 1;
  }
}
