.main-nav {
  margin: 0 auto;
  min-height: 20px;
}

.main-nav__toggle {
  position: absolute;
  top: -40px;
  right: 0;
  z-index: 2;
  display: block;
  width: 70px;
  height: 50px;
  font-size: 0;
  background-color: $color-white;
  cursor: pointer;
  border: none;
}

.main-nav__wrapper {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
}

.main-nav-item-mobile {
  display: none;
}


.main-nav__delivery {
  display: none;
}

.main-nav__item :hover,
.main-nav__other-item :hover {
  opacity: 0.5;
}

.main-nav__item :active,
.main-nav__other-item :active {
  opacity: 0.2;
}

.main-nav__search path,
.main-nav__basket-logo path {
  fill: rgb(209, 208, 208);
}

.main-nav__search :hover path,
.main-nav__basket-logo :hover path {
  fill: rgb(88, 204, 180);
}

.main-nav__search :active path,
.main-nav__basket-logo :active path {
  fill-opacity: 0.2;
}

.main-nav__delivery-desktop {
  display: none;
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 17px;
  width: 20px;
  height: 2px;
  background-color: $color-black;
  box-shadow: 0 5px 0 0 $color-black, 0 10px 0 0 $color-black;
}

.main-nav--opened .main-nav__toggle {
  top: -40px;
  right: 0;
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 20px;
    left: 18px;
    width: 20px;
    height: 2px;
    background-color: $color-black;
  }
  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }
  &::after {
    transform: rotate(-45deg);
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .main-nav {
    margin: 0 auto;
    min-height: 20px;
    position: relative;
    margin: 0 auto;
    width: 320px;
  }
  .main-nav__wrapper {
    margin-top: -60px;
  }
  .main-nav__other-items {
    display: none;
  }
  .main-nav--closed .main-nav__items,
  .main-nav--closed .main-nav__user-items,
  .main-nav--closed .main-nav__other-items {
    display: none;
  }
  .main-nav__item,
  .main-nav__user-item,
  .main-nav__other-item {
    display: flex;
    justify-content: center;
    width: 320px;
    font-size: 17px;
    font-weight: $font-weight-bold;
    padding: 25px 0;
    border: 1px solid rgb(234, 234, 234);
    text-align: center;
  }
  .main-nav__user-item {
    justify-content: flex-start;
  }
  .main-nav__search,
  .main-nav__basket-logo {
    width: 80px;
  }
  .main-nav__basket {
    display: flex;
  }
  .main-nav__user-item:nth-child(1) {
    display: none;
  }
  .main-nav--opened .main-nav__wrapper {
    position: absolute;
    top: 80px;
    right: 0;
    left: 0;
    z-index: 10;
    height: 80vh;
    background-color: $color-white;
    transition: all 0.2s ease;
  }
  .main-nav--nojs .main-nav__toggle {
    display: none;
  }
  .main-nav--nojs .main-nav__items {
    display: block;
    margin-top: 70px;
  }
  .main-nav--nojs .main-nav__user-items {
    display: block;
  }
}

@media (min-width: 768px) {
  .main-nav {
    padding: 0 50px;
  }
  .main-nav__toggle {
    display: none;
  }
  .main-nav__wrapper {
    display: flex;
    flex-direction: column;
  }
  .main-nav__items {
    display: flex;
    order: 2;
    background-color: rgb(248, 248, 248);
    padding-top: 25px;
  }
  .main-nav__item {
    display: flex;
  }
  .main-nav__search-text {
    display: none;
  }
  .main-nav__catalog-link,
  .main-nav__form-link,
  .main-nav__new-link,
  .main-nav__sale-link {
    text-decoration: none;
    font-size: 15px;
    font-weight: $font-weight-bold;
    color: $color-black;
    width: 170px;
  }
  .main-nav-item-mobile {
    display: block;
    width: 270px;
  }
  .main-nav-item-tablet {
    display: none;
  }
  .main-nav__user-items {
    display: flex;
    order: 1;
  }
  .main-nav__user-item {
    display: flex;
  }
  .main-nav__delivery {
    font-size: 15px;
    display: block;
    padding-left: 90px;
    order: 3;
  }
  .main-nav__search {
    width: 80px;
    border-left: 1px solid rgb(229, 229, 229);
    border-right: 1px solid rgb(229, 229, 229);
    text-align: center;
    padding: 33px 0;
    margin: auto;
  }
  .main-nav__basket {
    width: 260px;
    display: flex;
    justify-content: space-around;
    padding-left: 15px;
    margin: auto;
  }
  .main-nav__basket-state {
    font-size: 17px;
    font-weight: $font-weight-bold;
  }
  .main-nav__other-items {
    display: none;
  }
}

@media (min-width: 1150px) {
  .main-nav__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .main-nav__items {
    display: flex;
    order: 1;
    background-color: $color-white;
    padding: 0;
    height: 88px;
    margin-right: 60px;
  }
  .main-nav__catalog-link,
  .main-nav__form-link {
    width: 180px;
    font-size: 17px;
  }
  .main-nav__item {
    padding-top: 30px;
  }
  .main-nav__item--desktop {
    border-right: 1px solid rgb(229, 229, 229);
    margin-right: 35px;
  }
  .main-nav__user-items {
    display: flex;
    order: 2;
    border-bottom: none;
  }
  .main-nav__search {
    width: 80px;
    border-left: 1px solid rgb(229, 229, 229);
    border-right: 1px solid rgb(229, 229, 229);
    text-align: center;
  }
  .main-nav__delivery {
    display: none;
  }
  .main-nav__other-items {
    display: flex;
    order: 3;
    background-color: rgb(248, 248, 248);
    margin-top: 20px;
  }
  .main-nav__other-item {
    width: 220px;
  }
  .main-nav__delivery-desktop {
    display: block;
    width: 240px;
    font-size: 15px;
    padding-left: 360px;
    margin: auto;
  }
}
