.page-title {
  display: flex;
  height: 175px;
  background-color: rgb(248, 248, 248);
}

@media (min-width: 320px) and (max-width: 767px) {
  .page-title--index {
    height: 285px;
    padding-top: 18px;
    background-color: rgb(248, 248, 248);
    background-image: url(/img/hero-mobile@1x.jpg);
    background-repeat: no-repeat;
    background-position: 50% 30%;
  }
  @media (min-resolution: 144dpi),
  (min-resolution: 1.5dppx) {
    .page-title--index {
      background-color: rgb(248, 248, 248);
      background-image: url(/img/hero-mobile@2x.jpg);
      background-size: 575px auto;
    }
  }
}

.page-title__h1 {
  margin: 0 auto;
  margin-top: 69px;
  font-size: 27px;
  font-weight: $font-weight-bold;
}

.page-title__h1--index {
  margin-top: 49px;
  padding: 0px 30px;
  text-align: center;
  line-height: 30px;
}

@media (min-width: 768px) {
  .page-title {
    height: auto;
    padding: 90px 0;
    margin-top: 0px;
    border-top: 1px solid rgb(229, 229, 229);
  }
  // .page-title::after {
  //   content: "";
  //   position: absolute;
  //   top: 305px;
  //   width: 100%;
  //   height: 24px;
  //   background-image: url(/img/zigzag-tablet.png);
  // }
  .page-title--index {
    height: 550px;
    background-color: rgb(248, 248, 248);
    background-image: url(/img/hero-desktop@1x.jpg);
    background-repeat: no-repeat;
    background-position: 50% 20%;
  }
  @media (min-resolution: 144dpi),
  (min-resolution: 1.5dppx) {
    .page-title--index {
      background-color: rgb(248, 248, 248);
      background-image: url(/img/hero-desktop@2x.jpg);
      background-size: 1150px auto;
    }
  }
  .page-title__h1 {
    margin-top: 3px;
    text-align: center;
    font-size: 43px;
    font-weight: $font-weight-bold;
  }
  .page-title__h1--index {
    margin-top: 65px;
    line-height: 50px;
  }
}

@media (min-width: 1150px) {
  .page-title--index {
    height: 565px;
    background-color: rgb(248, 248, 248);
    background-size: cover;
  }
  .page-title__h1 {
    margin-top: 0px;
    text-align: center;
    font-size: 53px;
    line-height: 56px;
  }
  .page-title__h1--index {
    margin-top: 65px;
    line-height: 50px;
  }
}
