.page-header {
  display: flex;
  flex-direction: column;
  padding-top: 22px;
}

.page-header__logo {
  margin: auto;
  text-align: center;
  z-index: 1;
}

.page-header__logo:hover {
  opacity: 0.6;
}

.page-header__logo:active {
  opacity: 0.3;
}

.page-header__logo-tablet {
  display: none;
}

.page-header__logo-tablet:hover {
  opacity: 0.6;
}

.page-header__logo-tablet:active {
  opacity: 0.3;
}

@media (min-width: 768px) {
  .page-header {
    width: 668px;
    margin: 0 auto;
    padding-top: 0px;
    height: 88px;
  }
  .page-header__logo {
    display: none;
  }
  .page-header__logo-tablet {
    width: 115px;
    display: block;
    margin-top: 22px;
    margin-right: 205px;
  }
}

@media (min-width: 1150px) {
  .page-header {
    width: 1050px;
    margin: 0 auto;
  }
  .page-header__logo-tablet {
    width: 150px;
    margin-right: 100px;
    margin-top: 10px;
  }
}
