.page-footer {
  padding-top: 30px;
}

.page-footer__wrapper {
  background-color: rgb(239, 239, 239);
}

.page-footer__copyright {
  display: flex;
  justify-content: space-around;
  padding: 25px 50px;
}

.page-footer__copyright-text {
  font-size: 19px;
  font-weight: $font-weight-bold;
}

.page-footer__copyright-text:hover {
  opacity: 0.5;
}

.page-footer__copyright-text:active {
  opacity: 0.2;
}

.page-footer__copyright-link path {
  fill: rgb(88, 204, 180);
}

.page-footer__copyright-link:hover path {
  fill: rgb(60, 187, 166);
}

.page-footer__copyright-link:active path {
  fill-opacity: 0.2;
}

.page-footer__separator {
  margin: 0 30px;
  border: 1px solid rgb(229, 229, 229);
}

.page-footer__logo {
  display: none;
}

@media (min-width: 768px) {
  .page-footer__wrapper {
    display: flex;
    padding: 50px 50px;
  }
  .page-footer__logo {
    display: block;
    margin-right: auto;
    width: 180px;
  }
  .page-footer__social {
    margin: auto;
    width: 150px;
  }
  .page-footer__separator {
    display: none;
  }
  .page-footer__copyright {
    margin-left: auto;
    padding: 0;
    width: 180px;
  }
  .page-footer__copyright-text {
    padding-right: 30px;
  }
}

@media (min-width: 1150px) {

}
