.page-title {
  display: flex;
  height: 175px;
  background-color: rgb(248, 248, 248);
}

.page-title--index {
  width: 320px;
  height: 275px;
  background-image: url(/img/hero-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-position: 50% 30%;
}

@media (min-resolution: 144dpi),
(min-resolution: 1.5dppx) {
  .page-title--index {
    background-image: url(/img/hero-mobile@2x.jpg);
    background-size: 575px auto;
  }
}

.page-title__h1 {
  margin: auto;
  font-size: 27px;
  font-weight: $font-weight-bold;
}

.page-title__h1--index {
  margin-top: 55px;
  padding: 0px 30px;
  text-align: center;
  line-height: 30px;
}

@media (min-width: 768px) {
  .page-title {
    height: auto;
    padding: 90px 0;
    margin-top: -48px;
    border-top: 1px solid rgb(229, 229, 229);
  }
  .page-title--index {
    width: 768px;
    height: 550px;
    background-image: url(/img/hero-desktop@1x.jpg);
    background-repeat: no-repeat;
    background-position: 50% 20%;
  }
  @media (min-resolution: 144dpi),
  (min-resolution: 1.5dppx) {
    .page-title--index {
      background-image: url(/img/hero-desktop@2x.jpg);
      background-size: 1150px auto;
    }
  }
  .page-title__h1 {
    margin: auto;
    font-size: 43px;
    font-weight: $font-weight-bold;
  }
  .page-title__h1--index {
    margin-top: 65px;
    line-height: 50px;
  }
}

@media (min-width: 1150px) {
  .page-title {
    margin-top: -42px;
  }
  .page-title--index {
    width: 1150px;
    height: 565px;
    background-size: cover;
  }
  .page-title__h1 {
    font-size: 53px;
  }
}
