* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "OpenSans";
  font-weight: $font-weight-normal;
  color: $color-black;
  background: white;
  width: 320px;
  height: 2244px;

}

img {
  max-width: 100%;
  height: auto;
}

.page-header {
  display: flex;
  flex-direction: column;
  margin-top: 22px;
}

.page-header__logo {
  margin: auto;
}

.main-nav {
  margin: 0 auto;
}

.main-nav__items {
  list-style: none;
}

// // Burger menu button
// $burger--thickness: 2px;
// .burger {
// 	$width: 20px;
//   border: 0;
// 	background: none;
// 	outline: 0;
// 	padding: 0;
// 	cursor: pointer;

// 	border-bottom: $burger--thickness solid currentColor;
// 	width: $width;

// 	transition: border-bottom 1s ease-in-out;
// 	-webkit-transition: border-bottom 1s ease-in-out;

// 	// Fix for extra space in Firefox
// 	&::-moz-focus-inner {
// 		border: 0;
// 		padding: 0;
// 	}

// 	&:before {
// 		content: "";
// 		display: block;
// 		border-bottom: $burger--thickness solid currentColor;
// 		width: 100%;
// 		margin-bottom: 5px;
// 		transition: transform 0.5s ease-in-out;
// 		-webkit-transition: -webkit-transform 0.5s ease-in-out;
// 	}

// 	&:after {
// 		content: "";
// 		display: block;
// 		border-bottom: $burger--thickness solid currentColor;
// 		width: 100%;
// 		margin-bottom: 5px;
// 		transition: transform 0.5s ease-in-out;
// 		-webkit-transition: -webkit-transform 0.5s ease-in-out;
// 	}
// }

// .burger-check {
//   display: none;
// }

// .burger-check:checked ~ .burger {
//   border-bottom: $burger--thickness solid transparent;
//   transition: border-bottom 0.8s ease-in-out;
//   -webkit-transition: border-bottom 0.8s ease-in-out;

//   &:before {
//     transform: rotate(-405deg) translateY(1px) translateX(-2px);
//     -webkit-transform: rotate(-405deg) translateY(1px) translateX(-2px);
//     transition: transform 0.5s ease-in-out;
//     -webkit-transition: -webkit-transform 0.5s ease-in-out;
//   }

//   &:after {
//     transform: rotate(405deg) translateY(-3px) translateX(-4px);
//     -webkit-transform: rotate(405deg) translateY(-3px) translateX(-4px);
//     transition: transform 0.5s ease-in-out;
//     -webkit-transition: -webkit-transform 0.5s ease-in-out;
//   }
// }

// // * * * Navigation * * *
// $navigation__transition: max-height 0.5s ease-in-out;

// .main-nav {
//   overflow: hidden;
//   max-height: 0;

//   transition: $navigation__transition;
// }

// .burger-check:checked ~ .main-nav {
//   max-height: 500px;

//   transition: $navigation__transition;
// }

// // * * * Demo * * *
// body {
//   background-color: floralwhite;
//   font-family: 'Libre Baskerville', serif;
//   font-style: italic;
//   font-size: 30px;
//   text-align: centeR;
// }

// a {
//   color: inherit;
// }

// small {
//   font-size: 14px;
// }

// ul {
//   margin: 0;
//   padding: 0;
// }

// li {
//   list-style: none;
//   font-size: 25px;
//   padding: 5px 0;

//   a {
//     text-decoration: none;

//     &:hover {
//       text-decoration: underline;
//     }
//   }
// }
