.page-footer {
  margin-top: 28px;
  background-color: rgb(239, 239, 239);
}

.page-footer__wrapper {
  width: 320px;
  margin: 0 auto;
}

.page-footer__copyright {
  display: flex;
  padding-top: 24px;
  border-top: 2px solid rgb(229, 229, 229);
  margin: 0 35px;
}

.page-footer__copyright-text {
  font-size: 19px;
  font-weight: $font-weight-bold;
  margin-left: 32px;
  margin-right: 30px;
}

.page-footer__copyright-link path {
  fill: rgb(88, 204, 180);
}

.page-footer__logo {
  display: none;
}

.page-footer__logo:hover path {
  fill: rgb(60, 187, 166);
}

.page-footer__logo:active path {
  fill-opacity: 0.2;
}

.page-footer__copyright:hover {
  .page-footer__copyright-text {
    opacity: 0.5;
  }
  .page-footer__copyright-link path {
    fill: rgb(60, 187, 166);
  }
}

.page-footer__copyright:active {
  .page-footer__copyright-text {
    opacity: 0.2;
  }
  .page-footer__copyright-link path {
    fill-opacity: 0.2;
  }
}

@media (min-width: 768px) {
  .page-footer {
    margin-top: 56px;
  }
  .page-footer__wrapper {
    display: flex;
    padding: 50px 0px;
    width: 668px;
  }
  .page-footer__logo {
    display: block;
    margin-right: 76px;
    width: 180px;
  }
  .page-footer__social {
    width: 150px;
  }
  .page-footer__copyright {
    margin-left: 47px;
    margin-right: 0;
    padding-top: 10px;
    width: 180px;
    border: none;
  }
  .page-footer__copyright-text {
    padding-right: 0px;
  }
}

@media (min-width: 1150px) {
  .page-footer {
    margin-top: 35px;
  }
  .page-footer__wrapper {
    width: 1050px;
  }
  .page-footer__logo {
    margin-right: 268px;
  }
  .page-footer__copyright {
    margin-left: 235px;
    padding: 0;
    width: 180px;
    margin-top: 9px;
  }
  .page-footer__copyright-text {
    margin-top: 0;
  }
}
