.page-footer__wrapper {
  background-color: rgb(239, 239, 239);
}

.page-footer__copyright {
  display: flex;
  justify-content: space-around;
  margin-left: 35px;
  margin-right: 35px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.page-footer__copyright-text {
  font-size: 19px;
  font-weight: $font-weight-bold;
}

.page-footer__copyright-text:hover {
  opacity: 0.5;
}

.page-footer__copyright-text:active {
  opacity: 0.2;
}

.page-footer__copyright-link path {
  fill: rgb(88, 204, 180);
}

.page-footer__copyright-link:hover path {
  fill: rgb(60, 187, 166);
}

.page-footer__copyright-link:active path {
  fill-opacity: 0.2;
}

.page-footer__separator {
  margin-left: 35px;
  margin-right: 35px;
  border: 1px solid rgb(229, 229, 229);
}

.page-footer__logo {
  display: none;
}

@media (min-width: 768px) {
  .page-footer__wrapper {
    display: flex;
    margin: auto;
    padding: 25px;
  }
  .page-footer__logo {
    display: block;
    margin: auto;
    width: 120px;
  }
  .page-footer__social {
    margin: auto;
    width: 230px;
  }
  .page-footer__separator {
    display: none;
  }
  .page-footer__copyright {
    margin-left: auto;
    width: 200px;
  }
}
