.production {
  padding: 0 30px;
<<<<<<< HEAD
=======
  margin: 0 auto;
>>>>>>> master
}

.production__wrapper {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(234, 234, 234);
<<<<<<< HEAD
}

.production__wrapper:hover {
  box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.production__wrapper:not(:hover) {
  transition: all 0.5s ease;
}

.production__wrapper:active {
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
=======
>>>>>>> master
}

.production__head {
  display: flex;
  margin: 30px 35px;
}

.production__logo {
  margin-right: 25px;
  ;
}

.production__title {
  font-size: 17px;
  font-weight: $font-weight-bold;
}

.production__logo path {
  fill: rgb(88, 204, 180);
}

.production__text {
  margin: 0 35px;
  margin-top: 30px;
  font-size: 13px;
  line-height: 24px;
}

.production__photo-desktop {
  display: none;
}

.production__container {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .production {
    padding: 0 50px;
  }
  .production__wrapper {
    width: 670px;
    margin: 30px auto;
  }
  .production__head {
    order: 1;
  }
  .production__photo {
    order: -1;
    width: 668px;
    height: 455px;
  }
  .production__text {
    order: 1;
    margin-top: 0px;
  }
  .btn--catalog {
    order: 1;
    width: 90%;
  }
}

@media (min-width: 1150px) {
  .production__wrapper {
    display: flex;
    width: 1050px;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .production__photo-desktop {
    display: block;
    order: -1;
    width: 682px;
    height: 455px;
  }
  .production__container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: space-around;
  }
  .production__head {
    width: 100px;
    display: flex;
    flex-direction: column;
  }
  .production__photo {
    display: none;
  }
  .production__text {
    width: 200px;
   }
}
