.production {
  padding: 30px;
}

.production__wrapper {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(234, 234, 234);
}

.production__wrapper:hover {
  box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.production__wrapper:not(:hover) {
  transition: all 0.5s ease;
}

.production__wrapper:active {
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
}

.production__head {
  display: flex;
  padding: 25px 35px;
}

.production__logo {
  padding-right: 25px;
}

.production__title {
  font-size: 17px;
  font-weight: $font-weight-bold;
  margin: auto;
}

.production__logo path {
  fill: rgb(88, 204, 180);
}

.production__photo {
  width: 260px;
  height: 150px;
  background-image: url(/img/video-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}

.production__button {
  margin: auto;
}

.production__button:hover {
  transform: scale(1.2);
  transition: all 0.3s ease;
}

.production__button:not(:hover) {
  transition: all 0.3s ease;
}

.production__button:active {
  transform: scale(0.8);
  transition: all 0.3s ease;
  opacity: 0.5;
}

.production__text {
  padding: 30px 35px 0;
  font-size: 13px;
  line-height: 24px;
}

.production__photo-desktop {
  display: none;
}

.production__container {
  display: flex;
  flex-direction: column;
}

.btn--catalog {
  width: 75%;
}

@media (min-width: 768px) {
  .production {
    padding: 55px 50px 30px;
  }
  .production__head {
    order: 1;
    margin-right: auto;
  }
  .production__photo {
    order: -1;
    width: 668px;
    height: 455px;
  }
  .production__title {
    font-size: 20px;
    margin: auto;
  }
  .production__text {
    order: 2;
    padding: 0 40px;
    font-size: 15px;
    line-height: 30px;
  }
  .btn--catalog {
    order: 3;
    width: 90%;
    margin-bottom: 40px;
  }
}

@media (min-width: 1150px) {
  .production {
    padding: 55px 50px 80px;
  }
  .production__wrapper {
    display: flex;
    width: 1050px;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .production__photo-desktop {
    background-image: url(/img/video-mobile@1x.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    order: -1;
    width: 682px;
    height: 455px;
  }
  .production__container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: space-around;
  }
  .production__head {
    width: 100px;
    display: flex;
    flex-direction: column;
  }
  .production__photo {
    display: none;
  }
  .production__text {
    width: 225px;
  }
  .btn--catalog {
    width: 75%;
    order: 3;
    margin: 30px 40px 40px;
  }
}
