.product__wrapper {
  display: flex;
  flex-direction: column;
}

.product__header {
  display: flex;
  flex-wrap: wrap;
}

.product__title {
  font-size: 25px;
  font-weight: $font-weight-bold;
  margin: auto;
  margin-top: 34px;
  width: 250px;
}

.product__subtitle {
  font-size: 17px;
  font-weight: $font-weight-bold;
  color: rgb(99, 209, 187);
  text-transform: uppercase;
  margin-left: 35px;
}

.product__info {
  font-size: 15px;
  margin: auto;
  width: 249px;
  margin-top: 30px;
}

.product__items {
  font-size: 15px;
  margin-left: 35px;
  margin-right: 35px;
  margin-top: 34px;
}

.product__item {
  display: flex;
  border-bottom: 2px solid rgb(234, 234, 234);
  padding-bottom: 10px;
  margin-top: 10px;
}

.product__label {
  width: 70px;
  margin-right: 30px;
}

.product__value {
  width: 130px;
}

.product__photo {
  margin: auto;
  margin-top: 35px;
}

.product__price {
  margin: auto;
  margin-top: 30px;
  font-size: 17px;
  font-weight: $font-weight-bold;
}

// @media (min-width: 768px) {
//   .product__title {
//     width: 445px;
//     font-size: 43px;
//     margin: auto;
//     // flex-grow: 6;
//   }
//   .product__subtitle {
//     width: 70px;
//     text-align: center;
//     margin: auto;
//     // flex-grow: 1;
//   }
//   .product__info {
//     width: 282px;
//     font-size: 17px;
//     // flex-grow: 0;
//   }
// }
