.reviews {
  padding: 55px 30px 0;
}

.reviews__wrapper {
  display: flex;
  flex-direction: column;
}

.reviews__title {
  font-size: 25px;
  font-weight: $font-weight-bold;
}

.reviews__items {
  list-style: none;
}

.reviews__item {
  display: flex;
  flex-direction: column;
}

.reviews__item:nth-child(n+2) {
  display: none;
}

.reviews__author-review {
  margin-top: 20px;
  font-size: 15px;
  line-height: 30px;
  color: $color-dark-gray;
}

.reviews__author {
  margin-top: 25px;
}

.reviews__author-name {
  font-size: 17px;
  font-weight: $font-weight-bold;
}

.reviews__author-nickname {
  display: block;
  margin-top: 7px;
  font-size: 17px;
  color: $color-dark-gray;
}

.reviews__btn {
  display: flex;
  margin-top: 35px;
}

.reviews__btn button {
  width: 130px;
  height: 52px;
  border: 1px solid rgb(236, 236, 236);
}

.reviews__btn button:hover {
  fill-opacity: 0.5;
}

.reviews__btn button:active {
  fill-opacity: 0.2;
}

.btn--reviews {
  margin-top: 33px;
  margin-bottom: 40px;
}

@media (min-width: 768px) {
  .reviews {
    padding: 0 50px;
    margin: 30px 0 110px;
    height: 427px;
    background-image: url(/img/review@1x.jpg);
    background-repeat: no-repeat;
  }
  @media (min-resolution: 144dpi),
  (min-resolution: 1.5dppx) {
    .reviews {
      background-image: url(/img/review@2x.jpg);
      background-size: 350px auto;
    }
  }
  .reviews__wrapper {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .reviews__title {
    font-size: 43px;
    margin-top: 83px;
  }
  .reviews__header {
    order: 1;
    width: 400px;
  }
  .reviews__items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    order: 3;
  }
  .reviews__author {
    width: 370px;
    margin-top: 58px;
    display: flex;
    flex-direction: column;
  }
  .reviews__author-review {
    margin-top: 44px;
    font-size: 17px;
    line-height: 30px;
  }
  .reviews__btn {
    margin-top: 64px;
  }
  .reviews__btn button {
    border: none;
    width: 80px;
  }
  .btn--reviews {
    order: 2;
    width: 26%;
    height: 52px;
    margin: 88px 0 0 0;
  }
}

@media (min-width: 1150px) {
  .reviews {
    height: 457px;
    padding-left: 170px;
    margin-left: 50px;
    margin-top: 47px;
    margin-bottom: 67px;
  }
  .reviews__title {
    font-size: 53px;
    margin-top: 62px;
  }
  .reviews__author-review {
    width: 770px;
    margin-top: 40px;
    margin-left: 5px;
  }
  .reviews__author {
    width: 620px;
    margin-top: 39px;
    margin-left: 5px;
  }
  .reviews__btn {
    margin-top: 45px;
  }
  .btn--reviews {
    order: 2;
    width: 20%;
    margin-top: 77px;
  }
}
