.reviews__wrapper {
  display: flex;
  flex-direction: column;
}

.reviews__title {
  margin-top: 60px;
  margin-left: 35px;
  font-size: 25px;
  font-weight: $font-weight-bold;
}

.reviews__items {
  list-style: none;
}

.reviews__item {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  margin-right: 30px;
}

.reviews__item:nth-child(n+2) {
  display: none;
}

.reviews__author {
  margin-left: 30px;
}

.reviews__author-review {
  margin: auto;
  margin-top: 40px;
  font-size: 15px;
  line-height: 30px;
}

.reviews__author-name {
  margin-top: 40px;
  font-size: 18px;
  font-weight: $font-weight-bold;
}

.reviews__author-nickname {
  margin-top: 10px;
  font-size: 15px;
}

.reviews__btn {
  display: flex;
  margin: auto;
  margin-left: 30px;
  margin-top: 35px;
  width: 260px;
}

.reviews__btn button {
  width: 130px;
  height: 52px;
  border: 1px solid rgb(236, 236, 236);
}

.reviews__btn button:hover {
  fill-opacity: 0.5;
}

.reviews__btn button:active {
  fill-opacity: 0.2;
}

.reviews__prev {
  margin-left: auto;
}

.reviews__next {
  margin-right: auto;
}


@media (min-width: 768px) {
  .reviews {
    background-image: url(/img/review@1x.jpg);
    background-repeat: no-repeat;
    padding-left: 35px;
  }
  .reviews__wrapper {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .reviews__title {
    font-size: 43px;
  }
  .reviews__header {
    order: 1;
    width: 400px;
  }
  .reviews__items {
    display: flex;
    flex-wrap: wrap;
    order: 3;
  }
  .reviews__author {
    width: 370px;
    display: flex;
    flex-direction: column;
  }
  .reviews__author-review {
    font-size: 17px;
    line-height: 30px;
  }
  .reviews__btn button {
    border: none;
    width: 80px;
  }
  .btn--reviews {
    order: 2;
    width: 23%;
  }
}

@media (min-width: 1150px) {
  .reviews {
    padding-left: 200px;
  }
  .reviews__title {
    font-size: 53px;
  }
  .reviews__author-review {
    width: 770px;
  }
  .reviews__author {
    width: 620px;
  }
  .btn--reviews {
    order: 2;
    width: 20%;
  }
}
