.social-links {
  display: flex;
  justify-content: space-around;
  padding: 25px 70px;
}

.social__link:hover path {
  fill: $fill-icon-hover;
}

.social__link:active path {
  fill-opacity: 0.2;
}

@media (min-width: 768px) {
  .social-links {
    display: flex;
    justify-content: space-between;
    padding: 0;
  }
}
