.social-links {
  display: flex;
  width: 180px;
  justify-content: space-around;
  margin-left: 70px;
  margin-right: 70px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.social__link:hover path {
  fill: $fill-icon-hover;
}

.social__link:active path {
  fill-opacity: 0.2;
}
