.wave {
  z-index: 10;
}

.wave-container {
  height: 6px;
  background-image: url(/img/bg-zigzag-line.svg);
  background-size: contain;
}

@media (min-width: 768px) {
  .wave-container {
    height: 15px;
  }
}

@media (min-width: 1150px) {
  .wave-container {
    height: 20px;
  }
}
