@media (min-width: 768px) {
  .zig-zag {
    z-index: 10;
  }
  .zig-zag__container {
    position: relative;
    height: 24px;
    background-image: url(/img/zigzag-tablet.png);
    margin-top: -15px;
  }
}

@media (min-width: 1150px) {
  .zig-zag__container {
    margin-top: -150px;
  }
  .zig-zag__container--desktop {
    margin-top: -20px;
  }
}
